<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @appraisal_field_datum.data %>
</p>

<%= link_to 'Edit', edit_appraisal_field_datum_path(@appraisal_field_datum) %> |
<%= link_to 'Back', appraisal_field_data_path %>
